body {
    /* background-image: url('https://images.pexels.com/photos/1387174/pexels-photo-1387174.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260'); */
    /* background-image: url('http://giphygifs.s3.amazonaws.com/media/aRZ4vTsHnyW6A/giphy.gif'); */
    /* background: url('https://media0.giphy.com/media/3oGRFkmoqoui9nzL2g/giphy.gif?cid=790b7611c9dccf95930178478e00d7c6e971075578862cb2&rid=giphy.gif') no-repeat ; */


    
    background: url('https://media2.giphy.com/media/BHNfhgU63qrks/giphy.gif?cid=790b76111583a5eed78d0fb4c77418c75e1cf95ef9932aa0&rid=giphy.gif') no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position-y: 100%;  */
    height: 100vh;
    width: 100vw;
}
.employer{
        display: flex;
        justify-content: center;
        text-align: center;
        animation: neon6 .5s infinite alternate;
}

.buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
}
.button-1 {
    display: block flex;
    width: 50%;
    border: 2px;
    border-radius: 15px;
    color: white;
    text-align: center;
    /* background-image: url(""); */
    padding: 14px 28px;
    cursor: pointer;
    font-size: 30px;
    background-color: rgba(47, 178, 201, 0.527);
    font-family: 'Alfa Slab One', cursive;
    margin-bottom: 30px
}


.choose{
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-family: 'Alfa Slab One', cursive;
    font-size: 50px;
}

.not-employer{
    display: flex;
    justify-content: center;
    color: #c288c7;
}


.go-back{
    text-decoration: none;
    color: rgb(255, 255, 255)
}

@keyframes neon6 {
from {
    text-shadow: 0 0 5px  0 0 40px #ee68dc, 0 0 70px #ee68dc, 0 0 80px #ee68dc, 0 0 100px #ee68dc, 0 0 150px #ee68dc;
}
to {
    text-shadow:  0 0 20px #ee68dc, 0 0 35px #ee68dc, 0 0 40px #ee68dc, 0 0 50px #ee68dc, 0 0 75px #ee68dc;
}
}