.Nav-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title-nav{
    display: flex;
    justify-content: center;
    color:rgb(255, 255, 255);
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
}

.menu-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 20vw;
    font-family: 'Kalam', cursive;
    font-size: 25px;
    grid-column: 2
}

.link-1{
    text-decoration: none;
    color: rgb(255, 255, 255);
}


.link-2{
    text-decoration: none;
    color: rgb(255, 255, 255)
}



.hamburger-gif, .side-menu{
    display: none;
}



div.side-menu, .side-menu-open, .side-menu-close {
    width: 400px;
    height: 100vh;
    background: #df996bbd;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 15px;
    
    transform: translateX(-610px);
    
    font-size: 13px;
    
}
.side-menu-open{
    display: block;
    animation-name: open;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}
.side-menu-close{
    display: block;
    animation: close 1s forwards ease;
}

@keyframes open {
    to {
        transform: translateX(0px)
    }
}
@keyframes close {
    to {
        transform: translateX(-610px)
}
}


img  {
    display: flex;
    justify-content: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 5px;
    filter: invert(1)
    
}




@media (max-width: 700px) {
    li{
        display: none;
    }
    .hamburger-gif {
        display: block
    }
}