.Nav-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title-nav{
    display: flex;
    justify-content: center;
    color:rgb(255, 255, 255);
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    text-decoration: none
}

.menu-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 20vw;
    font-family: 'Kalam', cursive;
    font-size: 25px;
    grid-column: 2
}

.link-1{
    text-decoration: none;
    color: rgb(255, 255, 255);
}


.link-2{
    text-decoration: none;
    color: rgb(255, 255, 255)
}

.logout-link-2{
    text-decoration: none;
    color: white
}



.hamburger-gif, .side-menu{
    display: none;
}



div.side-menu, .side-menu-open, .side-menu-close {
    width: 250px;
    height: 100vh;
    background: #4d4a48bb;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 15px;
    
    transform: translateX(-610px);
    
    font-size: 13px;
    
}
.side-menu-open{
    display: block;
    animation-name: open;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}
.side-menu-close{
    display: block;
    animation-name: close;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out
}


.side-menu-link {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Kalam', cursive;
    font-size: 20px;
    margin-top: 80px;
    text-decoration: none;
    color: rgb(157, 227, 229)
}

.side-menu-link-2 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Kalam', cursive;
    font-size: 20px;
    text-decoration: none;
    color: rgb(204, 113, 8);
    margin-top: 70px;
    
}

@keyframes open {
    to {
        transform: translateX(0px)
    }
}
@keyframes close {
    to {
        transform: translateX(-610px)
}
}


.burger-button {
    display: flex;
    justify-content: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    border-radius: 5px;
    filter: invert(1)
    
}




@media (max-width: 700px) {
    li{
        display: none;
    }
    .hamburger-gif {
        display: block
    }
}