.container-post{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100vw;
    height: 80vh;
    flex-wrap: wrap;
}

.News-feed-title{
    display: flex;
    justify-content: center;
    animation: neon9 .5s infinite alternate;
    font-family: 'Alfa Slab One', cursive;
    font-size: 35px
    
}
.box-1 {
    display: flex;
    align-items: center;
    border-radius: 10px; 
    flex-direction: column;
    background-color: rgba(77, 193, 223, 0.473);
    height: 60vh;
    width: 50vw;
    /* justify-content: center; */
    overflow: scroll;
}

.feed-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    font-size: 18px;
}

.label {
    display: block;
    margin-bottom: 20px;
    font-size: 20px;
}

.file-change {
    margin-bottom: 20px;
}

.post-text {
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
    flex-direction: column
    
}

.input-title{
    margin-bottom: 10px
}

.text-info {
    color: white
}




/* button {
    border: 1px solid #353b6e;
    border-radius: 4px;
    color: #f7f7f7;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px;
    background-color: rebeccapurple;
  } */

.loading-indicator {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 330px);
    grid-gap: 20px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 40px;
}  

.photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 175px;
    background-color: #d5d5d5;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}  


@keyframes neon9 {
    from {
        text-shadow: 0 0 5px  0 0 40px #ee68dc, 0 0 70px #ee68dc, 0 0 80px #ee68dc, 0 0 100px #ee68dc, 0 0 150px #ee68dc;
    }
    to {
        text-shadow:  0 0 20px #ee68dc, 0 0 35px #ee68dc, 0 0 40px #ee68dc, 0 0 50px #ee68dc, 0 0 75px #ee68dc;
    }
    }