.container-post{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
}
.box-1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: aliceblue;
    height:60vh;
    width: 50vw;
    justify-content: center;
    overflow: scroll;
}

.feed-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

/* .label {
    display: block;
    margin-bottom: 20px;
    font-size: 20px;
} */

.file-change {
    margin-bottom: 20px;
}

.post-text {
    display: flex;
    
    
}





/* button {
    border: 1px solid #353b6e;
    border-radius: 4px;
    color: #f7f7f7;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px;
    background-color: rebeccapurple;
  } */

.loading-indicator {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 330px);
    grid-gap: 20px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 40px;
}  

.photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #d5d5d5;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  }  

