.container-post{
    display: flex;
    justify-content: center;
    text-align: center;
    /* align-items: center; */
    width: 100vw;
    height: 80vh;
    flex-wrap: wrap;
}

.News-feed-title{
    display: flex;
    justify-content: center;
    animation: neon9 .5s infinite alternate;
    font-family: 'Alfa Slab One', cursive;
    font-size: 35px;
    text-align: center
    
}
.box-1 {
    display: flex;
    align-items: center;
    border-radius: 20px; 
    flex-direction: column;
    text-align: center;
    background-color: rgba(77, 193, 223, 0.473);
    height: 68vh;
    width: 80vw;
    /* justify-content: center; */
    overflow: scroll;
}
.On-your-mind{
    font-family: 'Kalam', cursive;
    font-size: 25px;
}


/* .feed-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    
    font-size: 18px;
} */

/* .label {
    display: block;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
} */

/* .file-change {
    margin-bottom: 20px;
} */

.post-text {
    display: flex;
    /* margin-top: 30px;
    margin-bottom: 20px; */
    flex-direction: column;
    align-items: center;
    
}

.input-title{
    margin-bottom: 10px;
    height: 20px;
    border-radius: 10px;
}
.input-description{
    margin-bottom: 30px;
    height: 40px;
    width: 150px;
    border-radius: 10px;
}

.text-info {
    display: flex;
    align-items: center;
    color: white;
    margin-bottom: 30px;
    text-align: center;
    flex-direction: column;

}

.loading-indicator {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
}

 
.photo  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 300px;
    flex-direction: column;
    height: 220px;
    background-color: #e976e363;
    transform: rotate(none);
    /* box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12); */
    border-radius: 15px
}  

/* .player {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 300px;
    flex-direction: column;
    height: 300px;
    
    
} */

.post-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 70px
}


@keyframes neon9 {
    from {
        text-shadow: 0 0 5px  0 0 40px #ee68dc, 0 0 70px #ee68dc, 0 0 80px #ee68dc, 0 0 100px #ee68dc, 0 0 150px #ee68dc;
    }
    to {
        text-shadow:  0 0 20px #ee68dc, 0 0 35px #ee68dc, 0 0 40px #ee68dc, 0 0 50px #ee68dc, 0 0 75px #ee68dc;
    }
    }