.profile-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60vh;
    width: 100vw;
    flex-wrap: wrap;
}

.profile-title{
    /* color: white; */
    display: flex;
    justify-content: center;
    animation: neon12 .5s infinite alternate;
    font-family: 'Alfa Slab One', cursive;
    font-size: 70px
}

.portfolio-name{
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    width: 80vw;
    text-align: center;
    background-color: rgba(77, 193, 223, 0.473);
    overflow: scroll;
    
}

.check-me{
    font-family: 'Kalam', cursive;
    font-size: 25px;
}
.text-info-profile{
    color: white;
    margin-bottom: 30px;
}

@keyframes neon12 {
    from {
        text-shadow: 0 0 5px  0 0 40px #ee68dc, 0 0 70px #ee68dc, 0 0 80px #ee68dc, 0 0 100px #ee68dc, 0 0 150px #ee68dc;
    }
    to {
        text-shadow:  0 0 20px #ee68dc, 0 0 35px #ee68dc, 0 0 40px #ee68dc, 0 0 50px #ee68dc, 0 0 75px #ee68dc;
    }
    }