.container-2{
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    height: 100vh;
    width: 100vw;
    /* align-items: center; */
    margin-top: 50px
    
}

.box {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    height: 53vh;
    width: 40vh
}


.login-greeting {
    display: flex;
    font-family: 'Bitter', serif;
    /* justify-content: flex-start; */
}

.login-greeting-2{
    color: rgba(78, 74, 74, 0.603);
    /* justify-content: flex-start; */
}

.google-greeting{
    font-family: 'Bitter', serif;
    color: rgb(134, 135, 226)
}

.input-login{
    margin-bottom: 10px
}

.login-button {
    margin-top: 25px
}

.register-text{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px

}

.google-button {
    align-items: center;
    border: none;
    display: inline-flex;
    justify-content: center;
    outline: none;
    position: relative;
    z-index: 0;
    -webkit-font-smoothing: antialiased;
    background: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 0 8px;
    white-space: pre-wrap;
    font-size: 10px
}
.google-button::before {
    content: '';
    display: block;
    opacity: 0;
    position: absolute;
    transition-duration: .15s;
    transition-timing-function: cubic-bezier(0.4,0.0,0.2,1);
    z-index: -1;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: #4285f4;
    border-radius: 5px;
    transform: scale(0);
    transition-property: transform,opacity;
}

.google-button:hover::before {
    opacity: .7;
    transform: scale(1);
}

.google-sign-in{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 10px */
}
.google-sign-out{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center
}