
.Register {
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin-top: 100px;
    color: white;
    /* background-color: transparent; */
    height: 55vh;
    width: 100vw;
    align-items: center;
}
.employer-button{
    margin-top: 10px;
    width: 5vw;
    margin-bottom: 5px;
    border: 1px solid #9f3ba8;
    border-radius: 4px;
    color: #f7f7f7;
    cursor: pointer;
    font-size: 15px;
    padding: 5px;
    background-color:rgba(112, 43, 146, 0.61);
    
    
}

.input-first{   
    width: 200px;
    height: 20px;  
    font-family: 'Bitter', serif;
    font-size: 20px;    
    background-color: transparent;
    border: none;
    border-top: 2px solid #4EA5D9;    
    border-bottom: 2px solid #4EA5D9;
    outline: none;
    color: #4EA5D9;
    font-size:18px;
    font-weight:normal;
    transition:0.2s ease all; 
}

.input-first:focus:valid {
    top:-20px;
    font-size:14px;
    color:rgb(193, 117, 223);
}


.input-last {
    margin-top: 15px;
    width: 200px;
    height: 20px;  
    font-family: 'Bitter', serif;
    font-size: 20px;    
    background-color: transparent;
    border: none;
    border-top: 2px solid #4EA5D9;    
    border-bottom: 2px solid #4EA5D9;
    outline: none;
    color: #4EA5D9;
    font-size:18px;
    font-weight:normal;
    transition:0.2s ease all; 
}
.input-last:focus:valid {
    top:-20px;
    font-size:14px;
    color:rgb(193, 117, 223);
}

.input-email{
    margin-top: 15px;
    width: 200px;
    height: 20px;  
    font-family: 'Bitter', serif;
    font-size: 20px;    
    background-color: transparent;
    border: none;
    border-top: 2px solid #4EA5D9;    
    border-bottom: 2px solid #4EA5D9;
    outline: none;
    color: #4EA5D9;
    font-size:18px;
    font-weight:normal;
    transition:0.2s ease all; 
}
.input-email:focus:valid {
    top:-20px;
    font-size:14px;
    color:rgb(193, 117, 223);
}

.input-user{
    margin-top: 15px;
    width: 200px;
    height: 20px;  
    font-family: 'Bitter', serif;
    font-size: 20px;    
    background-color: transparent;
    border: none;
    border-top: 2px solid #4EA5D9;    
    border-bottom: 2px solid #4EA5D9;
    outline: none;
    color: #4EA5D9;
    font-size:18px;
    font-weight:normal;
    transition:0.2s ease all; 
}
.input-user:focus:valid {
    top:-20px;
    font-size:14px;
    color:rgb(193, 117, 223);
}
.input-pass{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 200px;
    height: 20px;  
    font-family: 'Bitter', serif;
    font-size: 20px;    
    background-color: transparent;
    border: none;
    border-top: 2px solid #4EA5D9;    
    border-bottom: 2px solid #4EA5D9;
    outline: none;
    color: #4EA5D9;
    font-weight: normal;
    transition:0.2s ease all; 
}
.input-pass:focus:valid {
    top:-20px;
    font-size:14px;
    color:rgb(193, 117, 223);
}

.register-button{
    margin-top: 10px;
    width: 10vw;
    margin-bottom: 5px;
    border: 1px solid #353b6e;
    border-radius: 4px;
    color: #f7f7f7;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px;
    background-color: rgba(102, 51, 153, 0.644);
}

.account-option {
    color: #c288c7;
    
}

.login-link {
    text-decoration: none;
    color: #f7f7f7
}



/* .firstName-button {
    margin-top: 30px
} */



