
.Register {
    display: flex;
    justify-content: center;
    margin: 0
    /* background-image: url("https://www.actorsconnection.com/wp-content/uploads/2015/11/acting-action-actor-275200.jpg"); */
    /* background: no-repeat; */
    /* background-size: 100vw 103vh;
    margin-top: -23vh;
    height: 103vh;
     */
    
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    /* background-color: transparent; */
    height: 55vh;
    width: 100vw;
    align-items: center;
}
.employer-button{
    margin-top: 10px;
    width: 5vw;
    margin-bottom: 5px;
    border: 1px solid #353b6e;
    border-radius: 4px;
    color: #f7f7f7;
    cursor: pointer;
    font-size: 15px;
    padding: 5px;
    background-color:rgb(7, 7, 7);
    
    
}
.input-first {
    margin-top: 10px;
    margin-bottom: 5px;
    
}
.input-last {
    margin-top: 10px;
    margin-bottom: 5px
}

.input-email{
    margin-top: 10px;
    margin-bottom: 5px
}

.input-user{
    margin-top: 10px;
    margin-bottom: 5px
}
.input-pass{
    margin-top: 10px;
    margin-bottom: 5px
}

.register-button{
    margin-top: 10px;
    width: 10vw;
    margin-bottom: 5px;
    border: 1px solid #353b6e;
    border-radius: 4px;
    color: #f7f7f7;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px;
    background-color: rgba(102, 51, 153, 0.644);
}



/* .firstName-button {
    margin-top: 30px
} */



